* {
  box-sizing: border-box;
}

body {
  background-color: #113;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 5vw;
}

.links {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

a {
  padding: 10px 20px;
  margin: 0 10px;
  color: #000;
  background-color: aliceblue;
  border: 3px solid aqua;
  display: block;
  width: fit-content;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

a::before {
  content: "» ";

}

